<form [formGroup]="formAgregarAlumno" (ngSubmit)="agregarAlumno()">
  <div class="mb-3">
    <label for="IdAlumno" class="form-label">ID</label>
    <input type="text"
        class="form-control"
        id="IdAlumno"
        placeholder="Ingresa tu identificacion"
        formControlName="id">

      <div *ngIf="formAgregarAlumno.controls['id'].touched && formAgregarAlumno.controls['id'].valid" class="alert alert-success" role="alert">Campo Correcto</div>
      <div *ngIf="formAgregarAlumno.controls['id'].touched && formAgregarAlumno.controls['id'].errors?.['required']" class="alert alert-danger" role="alert">Campo obligatorio</div>
  </div>

  <div class="mb-3">
    <label for="nombreAlumno" class="form-label">Nombre</label>
    <input type="text"
        class="form-control"
        id="nombreAlumno"
        placeholder="Ingresa el nombre"
        formControlName="nombre">

      <div *ngIf="formAgregarAlumno.controls['nombre'].touched && formAgregarAlumno.controls['nombre'].valid" class="alert alert-success" role="alert">Campo Correcto</div>
      <div *ngIf="formAgregarAlumno.controls['nombre'].touched && formAgregarAlumno.controls['nombre'].errors?.['required']" class="alert alert-danger" role="alert">Campo obligatorio</div>
      <div *ngIf="formAgregarAlumno.controls['nombre'].touched && formAgregarAlumno.controls['nombre'].errors?.['minlength']" class="alert alert-danger" role="alert">Nombre no valido</div>
  </div>

  <div class="mb-3">
    <label for="apellidoAlumno" class="form-label">Apellido</label>
    <input type="text"
        class="form-control"
        id="apellidoAlumno"
        placeholder="Ingresa el apellido"
        formControlName="apellido">
      <div *ngIf="formAgregarAlumno.controls['apellido'].touched && formAgregarAlumno.controls['apellido'].valid" class="alert alert-success" role="alert">Campo Correcto</div>
      <div *ngIf="formAgregarAlumno.controls['apellido'].touched && formAgregarAlumno.controls['apellido'].errors?.['required']" class="alert alert-danger" role="alert">Campo obligatorio</div>
  </div>

  <div class="mb-3">
    <label for="edadAlumno" class="form-label">Edad</label>
    <input type="number"
        class="form-control"
        id="edadAlumno"
        placeholder="Ingresa la edad"
        formControlName="edad">

        <div *ngIf="formAgregarAlumno.controls['edad'].touched && formAgregarAlumno.controls['edad'].valid" class="alert alert-success">Campo Correcto</div>
        <div *ngIf="formAgregarAlumno.controls['edad'].touched && formAgregarAlumno.controls['edad'].errors?.['required']" class="alert alert-danger" role="alert">Campo Obligatorio</div>
        <div *ngIf="formAgregarAlumno.controls['edad'].touched && formAgregarAlumno.controls['edad'].errors?.['min']" class="alert alert-danger" role="alert">Debes ser mayor de 10 años</div>
  </div>

  <div class="mb-3">
    <label for="cursoAlumno" class="form-label">Curso</label>
    <input type="text"
        class="form-control"
        id="cursoAlumno"
        placeholder="Ingresa el curso"
        formControlName="curso">

        <div *ngIf="formAgregarAlumno.controls['curso'].touched && formAgregarAlumno.controls['curso'].valid" class="alert alert-success">Campo Correcto</div>
        <div *ngIf="formAgregarAlumno.controls['curso'].touched && formAgregarAlumno.controls['curso'].errors?.['required']" class="alert alert-danger" role="alert">Campo Obligatorio</div>
        <div *ngIf="formAgregarAlumno.controls['curso'].touched && formAgregarAlumno.controls['curso'].errors?.['pattern']" class="alert alert-danger" role="alert">Solo puedes ingresar letras</div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox"
        class="form-check-input"
        id="AlumnoActivo"
        formControlName="activo">
    <label class="form-check-label" for="AlumnoActivo">Alumno Activo</label>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="formAgregarAlumno.invalid">Registrar</button>
</form>
