<div class="d-flex flex-column align-items-center justify-content-center h-100">
  <h1>Iniciar Sesión</h1>

  <form [formGroup]="formularioLogin" (ngSubmit)="login()">
    <div class="row">
      <mat-form-field appearance="outline" class="fill">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" formControlName="usuario">
      </mat-form-field>

      <mat-form-field appearance="outline" class="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput type="text" formControlName="contrasena">
      </mat-form-field>

      <div class="m-2">
          <mat-slide-toggle formControlName="esAdmin">Es admin</mat-slide-toggle>
      </div>

      <button type="submit" mat-raised-button color="primary">Login</button>
    </div>
  </form>
</div>
